@media only screen and (max-width: 1280px) {
  .c-nav {
    width: 90%;
  }

  .l-hero {
    min-height: 60rem;
    &__content {
      width: 90%;
      .c-illustration {
        width: 42rem;
      }
    }
  }

  .c-section {
    width: 45%;
  }

  .c-feature {
    width: 90%;
    padding: 5rem;
  }

  .l-footer {
    padding-top: 15rem;
    min-height: 58rem;
    &__container {
      width: 90%;
    }
  }
}
