@media only screen and (max-width: 960px) {
  .l-hero {
    &__content {
      flex-direction: column;
      align-items: center;

      .c-illustration {
        display: flex;
        justify-content: center;
        width: 90%;
      }
    }
  }

  .c-section {
    width: 90%;
    padding: 5rem 0;
    text-align: center;
  }

  .c-feature {
    flex-direction: column;
    width: fit-content;
  }

  .l-features {
    :nth-child(odd) {
      flex-direction: column-reverse;
    }
  }

  .c-invite {
    width: 90%;
    text-align: center;
  }

  .c-button {
    &--large-pink {
      width: 30rem;
    }
  }

  .l-footer {
    min-height: 70rem;
  }
}

@media only screen and (max-width: 678px) {
  .c-feature {
    width: 90%;
  }

  .l-footer {
    flex-direction: column;
    align-items: center;

    .c-logo {
      width: 16rem;
    }

    &__main-content {
      flex-direction: column;
      width: 100%;
    }
  }
  .c-contacts {
    width: 100%;
    font-size: 1.5rem;

    &__address {
      max-width: unset;
      width: 30rem;
    }
  }

  .c-list-link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 30rem;
    width: fit-content;
  }

  .c-social-network {
    align-self: center;
  }

  .c-copyright {
    align-self: center;
  }
}
