@use "../base/colors";

.c-section {
  max-width: 51rem;

  color: colors.$very-dark-cyan;

  &__title-1 {
    font-size: 4rem;
  }

  &__title-2 {
    font-size: 2.8rem;
  }

  &__text {
    font-size: 1.8rem;
    padding: 3rem 0;
  }
}
